# DSC 690 Winter 2020 Cardio Data (SVM)

# Importing the data and checking the data frame

In [2]:
#Importing the dataset
import pandas as pd
import sklearn

#Importing the dataset through pandas dataframe
cardio = pd.read_csv("C:\\Users\\uru49\\Downloads\\cardio_train.csv", sep = ";")

# Checking the information for the dataframe
cardio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
id             70000 non-null int64
age            70000 non-null int64
gender         70000 non-null int64
height         70000 non-null int64
weight         70000 non-null float64
ap_hi          70000 non-null int64
ap_lo          70000 non-null int64
cholesterol    70000 non-null int64
gluc           70000 non-null int64
smoke          70000 non-null int64
alco           70000 non-null int64
active         70000 non-null int64
cardio         70000 non-null int64
dtypes: float64(1), int64(12)
memory usage: 6.9 MB

# Checking the head of the data frame

In [3]:
# Visualizing the top five rows of the dataframe
cardio.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

# Changing the categorical data types

In [4]:
# Handling categorical data type
cardio[['cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio']] = cardio[['cholesterol', 'gluc', 'smoke', 'alco', 'active', 'cardio']].astype('category')

# Splitting the data into trainning and testing sets

In [5]:
# Getting the X and y values from the dataframe
X = cardio.iloc[:, :-1]
y = cardio.iloc[:, 12]

In [7]:
# Importing the test and train splitting library
from sklearn.model_selection import train_test_split

In [8]:
# Splitting the dataset into testing and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Importing the standard scaler

In [9]:
# Scaling the variables using standard scaler 
from sklearn.preprocessing import StandardScaler

sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

# SVM fitting on the data

In [11]:
# Fitting SVM on the testing and training set
from sklearn.svm import SVC

classifier = SVC(kernel = 'linear')
classifier.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

# Making a prediction with the testing set

In [12]:
# Making a prediction with the testing set
y_pred = classifier.predict(X_test)

# Making calculations

In [14]:
# Calculating the accuracy with confusion matrix
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_pred)
cm

array([[5750, 1319],
       [2580, 4351]], dtype=int64)

In [15]:
# Calculating the area under the curve of the prediction and test sets
from sklearn import metrics

auc = metrics.roc_auc_score(y_test, y_pred)
auc

0.7205850041878559